main {
    flex-direction: column;
}
button {
    margin-bottom: 50px;
}
.top {
    margin: 20px auto 60px 24px;
}
img {
    justify-self: center;
    width: 70%;
}
.bottom {
    display: flex;
    flex-direction: column;
}
.bigTit {
    line-height: 71px;
    font-size: 60px;
    margin-bottom: 30px;
}
.content {
    margin-inline: 24px;
}
.paragraphe {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 60px;
}
